node_modules
.pnp
.pnp.*
.yarn/*
coverage
/out
/build
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*
.vercel
*.tsbuildinfo
next-env.d.ts
*storybook.log
storybook-static
chrome-extension/_metadata/

# dev files
.git
.github
docs
src/stories
